/* Import fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=KoHo:wght@200;400;700&display=swap');

/* Set up variables for colors and fonts */

/* Rasmun, her kan du ændre farver og fonte. De er navngivet efter hvad de bruges til, 
   så du ændre bare værdien. */
:root {
  --background: rgb(11, 13, 18);
  --text: rgb(173, 169, 169);
  --link-hover: rgb(128, 125, 125);
  --border: rgb(93, 89, 89);

  --main-font: 'KoHo', sans-serif;
  --display-font: 'Bubblegum Sans', cursive;
}

/*----------------------------------------------------------------*/
/* Base styles */

body {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--main-font);
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover,
a:focus {
  color: var(--link-hover);
  transition: color 0.25s ease;
}

h1,
h2,
h3 {
  font-weight: 200;
}

/*----------------------------------------------------------------*/
/* Header  & Nav */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  padding: 0 1rem;
}

@media screen and (min-width: 980px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }
}

header h1 {
  font-family: var(--display-font);
  font-size: 2.3rem;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

nav a {
  font-size: 1.6rem;
  padding: 0 1rem;
}

@media screen and (min-width: 980px) {
  nav {
    width: unset;
    justify-content: end;
  }
}

/*----------------------------------------------------------------*/
/* Main body */

main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/*----------------------------------------------------------------*/
/* footer */
/* Copyright meddelsen kommer fra javascript, ret årstal selv, eller sig det til mig
   så skal jeg nok ændre der */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 3px solid var(--border);
  margin-bottom: 2em;
}

.social {
  margin-top: 0.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social svg {
  width: 60px;
  fill: var(--text);
  padding: 0 1rem;
  transition: fill 0.25s ease;
}

.social svg:hover {
  fill: var(--link-hover);
}

/*****************************************************************
  * Front Page                                                     *
  *****************************************************************/

/*----------------------------------------------------------------*/
/* section carousel*/

.carousel {
  height: 70vh;
  background-image: url(../images/carousel/image1.jpg);
  background-position: center center;
  background-size: cover;
  color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel h1 {
  font-size: 4rem;
}

/*----------------------------------------------------------------*/
/* section news */

.news {
  padding: 1em;
}

.news--grid-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
}

@media screen and (min-width: 800px) {
  .news--grid-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .news--grid-box {
    grid-template-columns: repeat(3, 1fr);
  }
}

.news--card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--border);
}

.news--card h1 {
  font-family: var(--main-font);
}

.news--card .card--description {
  font-size: 1.2rem;
}

/*****************************************************************
  * Video Production                                             *
  *****************************************************************/

.video--header {
  display: block;
  width: 100%;
}

@media screen and (min-width: 650px) {
  .video--header {
    max-width: 75%;
  }
}

@media screen and (min-width: 1200px) {
  .video--header {
    max-width: 50%;
  }
}

.video--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  gap: 1rem;
  margin: 2rem 0;
}

.video--card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
